html{
  /*font-family: "Trebuchet MS", arial, sans-serif;*/
  font-family: Verdana, Geneva, sans-serif;
  font-size: 100%;
}

.logo{
  padding:0; 
  margin:0.2em; 
  text-align: center;
  letter-spacing: 2pt;
  font-size:4.6em;
}

.text-stroke {
  color: white;
   -webkit-text-stroke: .6px #ccc;
    text-shadow:
    -.6px -.6px 0 #ccc,  
    .6px -.6px 0 #ccc,
    -.6px  .6px 0 #ccc,
    .6px  .6px 0 #ccc;
}

.text-shadow {
  color: white;
    /* Simulated effect for Firefox and Opera 
    and nice enhancement for WebKit */
  text-shadow:
    -6px 7px 0 #ccc,
    -1px -1px 0 #ccc,  
    1px -1px 0 #ccc,
    -1px  1px 0 #ccc,
    1px  1px 0 #ccc;
}
/*
.border-circle {
  border-radius: 7px 35px;
  background: #eaeaed;
  height: 40px;
  line-height: 45px;
  display: inline-block;
  margin: 0px 10px 0 0;
  text-align: left;
  width: 40px;
  font-size: 20px;
}
.border-circle >span{
  color: #AAA;
  text-shadow: 0 0 #ccc;
  border: 0px solid white;
}
.border-circle >span>a{
  color: #AAA;
  text-shadow: 0 0 #ccc;
  padding: 0px 0px 0px 20px;
}
*/

.linkwrap {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

.aboutlink         { 
  padding: 0px 0px 0px 20px;
}

.aboutlink:link    { 
  color: #aaa;
  text-decoration: none;
}

.aboutlink:visited { 
  color: #aaa;
  text-decoration: line-through;
}

.aboutlink:hover   { 
  color: #aaa;
  text-decoration: underline;
}

.aboutlink:active  { 
  color: #aaa;
  text-decoration: none;
}

#content {
  padding:0px;
  margin:0px;
  width: 100%;
  height: 18em;
}

hr{
  color:#ccc;
  border: 1px solid #ccc;  
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0em;
  margin-left: 4.0em;
  margin-right: 4.0em;
  border-width: 1px;
}

#main {
  width: 60%;
  margin: 0 auto; 
}

fieldset {
  border: 0px solid #ccc;
}

.text_fieldset {
  text-align: left;
}

#result {
  width: 80%;
  /*border: 1px solid red;*/
  margin: 0 auto; 
  /*margin-top: 1.5em;*/
 }
.fieldsetwrap { width: 100%; }
.result { margin-top: 0.5em; }

.result > div > a{ /*color: #444;*/ }
.result > div > span{ font-weight: bold; }
.aboutlink:link    { /*color: #444;*/ text-decoration: none;}
.aboutlink:visited { /*color: #444;*/ text-decoration: line-through;}
.aboutlink:hover   { /*color: #444;*/ text-decoration: underline;}
.aboutlink:active  { /*color: #444;*/ text-decoration: none;}
