{% extends "main.html" %}

{% block head %}
	<h1>{{ header_text }}</h1>
	<a class="aboutlink" href="about">about</a>
{% end %}

{% block body %}
	{{ content }}
{% end %}

{% block footer %}
	<footer>
		<p>{{ footer_text }}</p>
	</footer>
{% end %} 