<!DOCTYPE html>
<html>
	<head>
		<title>{{ escape(page_title) }}</title>
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="/static/main.css"/>
		<script src="/static/jquery-1.11.3.min.js"></script>
		<script src="/static/asmcrypto.js"></script>
		<script src="/static/crypten.js"></script>
		{{ script }}
	</head>
	<body>
		
		<h1 class="logo text-shadow"><i>C</i>rypten-bin</h1>
		<hr/>
		<div class="linkwrap">
			<a class="aboutlink" href="/about">About</a>
		</div>

		<div id="main">
			{% block body %}{% end %}
		</div>
		
		<footer>
			{% block footer %}{% end %}
		</footer>
	</body>
</html>